.tab__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 900px;

  @media screen and (max-width: 430px) {
    gap: 0;
  }

  h1 {
    @media screen and (max-width: 430px) {
      font-size: 15px;
    }
  }
  p {
    @media screen and (max-width: 430px) {
      font-size: 10px;
    }
    font-size: 20px;
  }
}
