.header {
  display: flex;
  width: 1260px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header__title {
    color: white;
  }
  .menu {
    display: flex;
    gap: 1rem;
  }
}
