.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

  .menu__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu__difficulty {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      padding: 0.5em 0.6em;
    }
  }
}
