.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;

  .content__left {
    padding: 10px;
  }

  .content__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    height: 100%;

    @media screen and (max-width: 430px) {
      .title__name {
        font-size: 12px;
      }
    }

    .menu__flex {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      justify-content: center;
    }

    .menu__difficulty {
      display: flex;
      flex-direction: column;
      gap: 8px;

      button {
        padding: 0.5em 0.6em;
      }

      @media screen and (max-width: 430px) {
        button {
          padding: 5px;
          font-size: 10px;
          max-width: 120px;
        }
      }

      .active {
        border-color: #ffffff;
      }
    }
  }
}
